*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#111;
    font-family:monospace;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.console{
    width:420px;
    background:#2d2d2d;
    border-radius:25px;
    padding:30px;
    box-shadow:
        inset 0 0 20px rgba(255,255,255,.08),
        0 15px 40px rgba(0,0,0,.7);
}

.screen{
    background:#8bd46e;
    border:10px solid #1b1b1b;
    border-radius:12px;
    padding:25px;
    min-height:520px;
    box-shadow:inset 0 0 25px rgba(0,0,0,.3);
    overflow:hidden;
}

h1{
    text-align:center;
    font-size:34px;
    color:#183518;
    letter-spacing:2px;
}

.version{
    text-align:center;
    color:#305030;
    margin-top:8px;
    margin-bottom:20px;
}

.line{
    height:3px;
    background:#305030;
    margin-bottom:25px;
}

#menu{
    list-style:none;
}

#menu li{
    color:#183518;
    font-size:24px;
    padding:10px 0;
    cursor:pointer;
}

.selected{
    font-weight:bold;
    animation:blink .8s infinite;
}

@keyframes blink{

    0%{
        opacity:1;
    }

    50%{
        opacity:.35;
    }

    100%{
        opacity:1;
    }

}

#pageTitle{
    text-align:center;
    color:#183518;
    margin-bottom:20px;
    font-size:30px;
}

#pageText{
    color:#183518;
    font-size:20px;
    line-height:1.7;
}

#bootScreen{
    width:100%;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.bootLogo{
    font-size:42px;
    font-weight:bold;
    color:#183518;
    text-align:center;
}

.bootText{
    margin-top:10px;
    color:#305030;
    font-size:20px;
}

#loadingText{
    margin-top:35px;
    font-size:22px;
    color:#183518;
    animation:blink .8s infinite;
}

.loadingBar{
    width:260px;
    height:12px;
    border:2px solid #305030;
    margin-top:20px;
}

#loadingFill{
    width:0%;
    height:100%;
    background:#305030;
    transition:width .12s linear;
}

/* MOBILNI OVLADANI */

#controls{
    margin-top:25px;
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:15px;
}

.middleButtons{
    display:flex;
    gap:20px;
}

#controls button{

    width:70px;
    height:70px;

    border:none;
    border-radius:50%;

    background:#2d2d2d;
    color:white;

    font-size:28px;
    font-family:monospace;
    font-weight:bold;

    box-shadow:
        inset 0 3px 6px rgba(255,255,255,.08),
        0 6px 12px rgba(0,0,0,.4);

    cursor:pointer;
}

#controls button:active{
    transform:scale(.95);
}
